#gitHub {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  border: 0;
}

.header {
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba($color-gray-light, 0.2), rgba($color-black, 0.2)), url('/css/star-wars-background.png');
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
}

canvas {
  height: 60% !important;
}

.background {
  position: absolute;
  height: 10rem;
  top: 0;
  left: 0;
}

.heading-primary--main {
  animation: titleIntro 1s ease-out;
}

.heading-primary--sub {
  animation: cardIntro 1.5s ease-out;
}
