@keyframes titleIntro {
  0% {
    transform: translateX(-10rem);
  }
  75% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes cardIntro {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardOutro {
  0% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes memo {
  0% {
    letter-spacing: .5rem;
  }
  50% {
    letter-spacing: 1rem;
  }
  100% {
    letter-spacing: .5rem;
  }
}
