body {
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}


.heading-primary {
  font-family: 'Poller One', cursive;
  color: $color-white;
  text-transform: uppercase;
  padding-top: 3rem;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2rem;
    margin-bottom: 1rem;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .5rem;
  }
}

.yodaInput {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(9, 136, 60);
  text-align: center;
  text-align-last: center;
}

.yodaBtn {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1rem
}

.yodaBtn:link,
.yodaBtn:visited {
  text-transform: uppercase;
  text-decoration: none;
}


li {
  font-size: 2rem;
  color: $color-white;
  list-style-type: none;
  text-align: center;
}

.row, .row__deck {
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.cards {
  color: $color-white;
  letter-spacing: 1px;
}

.stars__memo {
  letter-spacing: .5rem;
  color: $color-memo;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  animation: memo 10s ease-out infinite;
}
