@keyframes titleIntro {
  0% {
    transform: translateX(-10rem); }
  75% {
    transform: translateX(3rem); }
  100% {
    transform: translateX(0); } }

@keyframes cardIntro {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  font-family: 'Poller One', cursive;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2rem;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .5rem; }

.yodaInput {
  font-size: 2rem;
  font-weight: 700;
  color: #09883c;
  text-align: center;
  text-align-last: center; }

.yodaBtn {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1rem; }

.yodaBtn:link,
.yodaBtn:visited {
  text-transform: uppercase;
  text-decoration: none; }

.yodaBtn:hover {
  font-size: 1.7rem; }

li {
  font-size: 2rem;
  color: #fff;
  list-style-type: none;
  text-align: center; }

.row {
  font-family: Arial, sans-serif;
  font-size: 2rem; }

.cards {
  width: calc((100% - 3* 6rem) / 4);
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: #365190;
  border-radius: 2%;
  letter-spacing: 1px;
  box-shadow: rgba(41, 168, 88, 0.4) -5px 5px 15px 1px;
  animation: cardIntro 1s forwards;
  cursor: pointer;
  float: left;
  display: inline-block; }
  .cards:not(:last-child) {
    margin-right: 6rem; }

.yodaInput {
  width: 50%;
  height: 3em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 0px;
  outline-style: none; }

.yodaBtn {
  width: 50%;
  padding: 15px 40px;
  margin: 20px auto;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  background: rgba(41, 168, 88, 0.4);
  border: 0px;
  outline-style: inherit; }
  .yodaBtn:link, .yodaBtn:visited {
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    outline-style: inherit; }
  .yodaBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .yodaBtn:active {
    transform: translateY(-2px); }

button#resetBtn {
  width: calc($form-width * 0.5);
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  background: rgba(41, 168, 88, 0.4);
  border: 0px;
  outline-style: inherit; }
  button#resetBtn:link, button#resetBtn:visited {
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    outline-style: inherit; }
  button#resetBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  button#resetBtn:active {
    transform: translateY(-2px); }

.row {
  position: relative;
  top: 5%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: gray;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3* 6rem) / 4) + (2 * 6rem)); }

#gitHub {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; }

.header {
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba(54, 81, 144, 0.2), rgba(0, 0, 0, 0.2)), url("/css/star-wars-background.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }

canvas {
  height: 60% !important; }

.background {
  position: absolute;
  height: 10rem;
  top: 0;
  left: 0; }

.heading-primary--main {
  animation: titleIntro 1s ease-out; }

.heading-primary--sub {
  animation: cardIntro 1.5s ease-out; }

.output {
  height: 40rem;
  background-color: #010F26;
  background-image: linear-gradient(to top, rgba(54, 81, 144, 0.2), rgba(0, 0, 0, 0.2));
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }
