.yodaInput {
  width: $form-width;
  height: 3em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 0px;
}

.yodaBtn {
  width: $form-width;
  padding: 15px 40px;
  margin: 20px auto;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  background: rgba(41, 168, 88, 0.4);
  border: 0px;
  outline-style: none;

  &:link,
  &:visited {
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  &:active {
    transform: translateY(-2px);
  }

}
