// COLOURS
$color-gray-light: #365190;
$color-black: black;
$color-white: #fff;
$color-output: #010F26;
$color-yoda: rgba(41, 168, 88, 0.4);

// GRID
$grid-width: 100rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;

// FORM
$form-width: 50%;
