// COLOURS
$color-gray-light: #365190;
$color-black: black;
$color-white: #fff;
$color-output: #010F26;
$color-yoda: rgba(41, 168, 88, 1);
$color-card: #365190;

// GRID
$grid-width: 100rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;

// FORM
$form-width: 50%;

// DECK
$color-deck-light: #6891ae;
$color-deck-dark: #0c1f3f;

// FONT
$base-font-size: 62.5%;
